.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 1vh 2vw;
  color: #ffffff;
}

.icons_div {
  display: flex;
  justify-content: center;
}

.header-link {
  text-decoration: none;
  color: #ffffff;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 20vw;
  height: auto;
}

.logo-image {
  width: 10vw;
  height: auto;
}

.logo-text {
  font-family: Clash Display Variable;
  font-size: 2.5vw;
  font-weight: 600;
  line-height: 1.2;
  text-align: left;
}

.nav-links {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  gap: 2vw;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-family: Poppins;
  font-size: 1.4vw;
  font-weight: 400;
  line-height: 1.5;
}

.nav-link:hover {
  color: #30A9FA;
}

.user-profile {
  padding-left: 2vw;
}

.header-search {
  padding-right: 2vw;
}

.icon_class {
  text-decoration: none;
  color: white;
}

.user-profile .icon,
.header-search .icon {
  width: 2.5vw;
  height: auto;
  padding: 0 1vw;
  cursor: pointer;
}

.header-buttons {
  display: flex;
  gap: 1.5vw;
}

.offer-button,
.rent-button {
  padding: 0.5vw 3vw;
  font-family: Poppins;
  font-size: 1.4vw;
  font-weight: 400;
  border: 1px solid white;
  background: transparent;
  color: white;
  border-radius: 30px;
  cursor: pointer;
}

.rent-button {
  background: #FFFFFF;
  color: #000000;
}

.offer-button:hover {
  background: white;
  color: black;
}

.rent-button:hover {
  background: #000000;
  color: white;
}

.hamburger-menu {
  display: none;
  font-size: 1rem;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    background-color: #000;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
  }

  .nav-links.active {
    display: flex;
    transform: translateX(0);
  }

  .nav-link {
    padding: 10px;
    font-size: 2.5vw;
  }

  .icons_div {
    justify-content: center;
    width: 100%;
    margin-top: 10px;
  }

  .user-profile .icon,
  .header-search .icon {
    width: 6vw;
  }

  .hamburger-menu {
    display: block;
  }

  .header-buttons {
    display: flex;
    justify-content: center;
    gap: 2vw;
    margin-top: 10px;
  }

  .offer-button,
  .rent-button {
    font-size: 2.5vw;
    padding: 1vw 4vw;
  }
}

@media screen and (max-width: 420px) {
  .nav-links {
    top: 60px;
  }

  .nav-link {
    font-size: 5vw;
    padding: 10px;
  }

  .user-profile .icon,
  .header-search .icon {
    width: 8vw;
  }

  .offer-button,
  .rent-button {
    font-size: 4vw;
    padding: 2vw 5vw;
  }
}
