.footer {
  background-color: #1e1e1e;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  position:relative;
  width: 100%;
  bottom: 0;
  left: 0;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}
