.about-us {
  color: #ffffff;
  background-color: #1e1e1e;
  padding: 40px 20px;
}

.header{
  text-align: center;
  color: #f1c40f;
  margin-bottom: 20px;
}

.mission-section, .vision-section, .team-section, .history-section, .health-camps-section, .get-involved-section {
  margin-bottom: 40px;
  animation: fadeIn 1s ease;
}

.mission-section h1, .vision-section h2, .team-section h2, .history-section h2, .health-camps-section h2, .get-involved-section h2 {
  color: #f1c40f;
  margin-bottom: 20px;
}

.mission-section p, .vision-section p, .history-section p, .health-camps-section p, .get-involved-section p {
  color: #bdc3c7;
}

.team-card {
  background-color: #34495e;
  border: none;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.team-card img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.get-involved-section button {
  background-color: #f1c40f;
  border: none;
  color: #1e1e1e;
  transition: background-color 0.3s ease;
}

.get-involved-section button:hover {
  background-color: #d4ac0d;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
